@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffff00;
  --primary: #00ffff;
  --primary-foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
